:root {
  --font-kairo: 'Imprima', sans-serif;
}

html,
body,
button,
input,
select,
textarea,
dialog,
table {
  font-family: var(--font-kairo);
}

.imprima-regular {
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: normal;
}
